@import url('./font/css/clash-grotesk.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: black;
    --text-primary: white;
    --font-primary: 'ClashGrotesk-Regular', sans-serif;
    --font-primary-light: 'ClashGrotesk-Light', sans-serif;
    --font-primary-bold: 'ClashGrotesk-Bold', sans-serif;
    --font-secondary: 'IBM Plex Mono', monospace;
    --border-primary: '#FFFFFF';
    --border-primary-light: rgba(255, 255, 255, 0.3);
    --navbarbg: "white";
    --navbarText: "black";
}
[data-theme='light'] {
    --background: #F5F2E3;
    --text-primary: #121212;
    --font-primary: 'ClashGrotesk-Regular', sans-serif;
    --font-primary-light: 'ClashGrotesk-Light', sans-serif;
    --font-primary-bold: 'ClashGrotesk-Bold', sans-serif;
    --font-secondary: 'IBM Plex Mono', monospace;
    --border-primary: '#121212';
    --border-primary-light: rgba(18, 18, 18, 0.3);
    --navbarbg: "black";
    --navbarText: "white";
}

html,
body {
    padding: 0;
    margin: 0px;
    font-family: var(--font-primary-light);
    height: 100%;
}

* {
  box-sizing: border-box;
}
